<div class="jumbotron jumbotron-fluid">

  <div class="container">
    <h1 class="display-4">App de Cómics</h1>
    <p class="lead">Esta es una app sobre cómics de héroes de Marvel y DC.</p>
  </div>

</div>
